* {
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Transparent thumb */
  border-radius: 10px; /* Rounded edges for the thumb */
}

/* Show scrollbar only while scrolling */
:hover::-webkit-scrollbar-thumb {
  background: rgba(241, 241, 241, 0.5); /* Semi-transparent light gray */
}

:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(241, 241, 241, 0.7); /* Slightly more opaque on hover */
}
